<% layout('layouts/boilerplate')%>

  <div class="row">
    <!-- info column -->
    <div class="col-6">
      <div class="card mb-3">
        <img src="<%= location.image%>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <%= location.title%>
          </h5>
          <p class="card-text">
            <%= location.description%>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">
            <%= location.location%>
          </li>
          <li class="list-group-item">$<%= location.price%>/night</li>
        </ul>
        <div class="card-body">
          <a class="card-link btn btn-info" href="/locations/<%=location._id%>/edit">Edit</a>
          <!-- post request but methodOverride tricks it into thinking it's a delete request -->
          <form class="d-inline" action="/locations/<%=location._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
      </div>
    </div>
    <!-- review column -->
    <div class="col-6">
      <h2>Leave a Review</h2>
      <!-- form to post new review -->
      <form action="/locations/<%=location._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
        <div class="mb-3">
          <label class="form-label" for="rating">Rating</label>
          <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="body">Review</label>
          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
      <!-- display all reviews -->
      <% for(let review of location.reviews) { %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Rating: <%= review.rating %>
            </h5>
            <p class="card-text">Review: <%= review.body %>
            </p>
            <!-- form to delete is just a button after every review -->
            <form action="/locations/<%=location._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
          </div>
        </div>
        <% } %>
    </div>

  </div>